$light: #fff;
$primary-color: #225060;
$secondary-color: #CF7732;
$success: #009984;
$black: #000;
$alert:#B65F6B;
$border-color:#dedede;
$primary-font:'Lato', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';