
<!-- Services Explained -->

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.service.featured_service }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
 </div>
</section>
<section class="service-arrow">
  <div class="container-fluid">
    <div class="row" style = "display: table;">
      {{ range .service_item }}
      <div class="col-sm-12 col-md-3 col-lg-3 bg-primary bg-{{ .color }}">
        <div class="block">
          <i class="{{ .icon }}"></i>
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /Services Explained -->

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.service.service }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .service_item }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
            <i class="icon {{ .icon }}"></i>
            <h4> 
				<a href= "{{ .url | markdownify }}">{{ .name | markdownify }}</a>
			</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}