.feature {
	background: url("../img/featue-bg.png");
	background-position: 10%;
	background-size: 35%;
	display: block;
	position: relative;
	background-color: rgba(	34, 80, 96, 0.4);
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 100px 0;
	height: 500px;

	h2 {
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 20px;
	}

	.btn-view-works {
		background: $secondary-color;
		color:  $light;
		padding: 10px 20px;
		display: block;
		width: 30%;
		margin-top: 30px;
		min-width: fit-content;
		border-radius: 0;
		@include transition (all, 0.2s, ease);
	
	&:hover {
	    background: lighten($secondary-color, 20%);
	    color: $light;
    }
		
	}

}

@media (max-width: 768px) {
  .feature {
    background-size: contain;
    background-attachment: scroll;
    background-position: 10% 95%;
    padding: 50px 0;
    height: 700px;
  }
}
